body {
	padding-top: 70px;
}

.news {
	padding-left: 20px;
}

.newsbtn {
	padding-left: 30px;
}

.route-header {
	text-align: center;
}

.game-title {
	text-align: center;
	padding: 0px;
}

.game-list-picture-wrapper {
	text-align: right;
}

.game-list-picture {
	width: 100%;
}

.runstats {
	padding: 5px;
}

.route-container {
	height: 400px;
	background-color: #EEE;
}

.user {
	text-align: center;
}
