body {
	box-sizing: border-box;
}

.pokedex-container {
	margin-top: 10px;
}

.pokeselect {
	background-color: #F00;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}

.pokeselect-wrapper {
	overflow: hidden;
	background-color: #FAA;
	border-radius: 5px;
	height: 100%;
	/* padding-top: 5px;
	padding-bottom: 5px; */
}

.pokeselect-inner {
	/* overflow: hidden; */
	position: relative;
	/* background-color: #FAA;
	border-radius: 10px; */
	display: block;
	width: auto;
}

.pokeselect .pokemon {
	width: 64px;
	height: 64px;
	border-radius: 10px;
	background-color: #FFF;
	display: inline-block;
	margin: 2px;
	/* animation: pokemon-enter 2s;
	-webkit-animation: pokemon-enter 2s;*/
	vertical-align: top;
	position: relative;
	transition: opacity 0.25s, transform 0.25s;
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	opacity: 0.8;
}

.pokeselect .pokemon img {
}

.pokeselect .pokemon:HOVER {
/* 	width: 80px;
	height: 80px;
	border-radius: 10px;
	background-color: #FFF;
	animation: pokemon-hover 0.25s alternate;*/
	transition: opacity 0.25s, transform 0.25s; 
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	opacity: 1.0;
}