@(message: String)

@main("Pokédex")("javascripts/pokedex.js", "javascripts/jquery.overscroll.js")("stylesheets/pokedex.css") {
	<div class="container-fluid pokedex-container">
		<div class="row-fluid">
			<div class="span3" id="left-col">
				<div class="pokeselect" id="pokeselect">
					<div class="pokeselect-wrapper">
						<div class="pokeselect-inner">
							@*@for(i <- 0 until 649) {
								<div class="pokemon" num="@i">
									<img src="@routes.Assets.at("images/sprites/bw/" + i + ".png")" />
								</div>
							}*@
						</div>
					</div>
				</div>
			</div>
			<div class="span6" id="middle-col">
			</div>
			<div class="span3" id="right-col">
			</div
		</div>
	</div>
}