@()
@import helper._

@main("routing")()() {
	<div class="container-fluid">
		<div class="container pull-left">
			<div class="row-fluid">
				<div class="span8">
					<div class="well route-header" style="margin-bottom: 0px;">
						<h2>My Routes</h2>
					</div>
				</div>
				<div class="span4">
				</div>
			</div>
			<div class="row-fluid">
				<div class="span8">
					<table class="game-list-entry">
						<tr>
							<td>
								<div class="game-list-desc">
									<div class="game-list-title">
										<a class="game-list-title-link" href="@routes.Routing.showRoute(1)">The Legend of Zelda: Wind Waker</a>
									</div>
									<div class="game-list-category">
										Any% English No Tuner
										<div class="game-list-author">
											'Main Route' by <a href="#">Pwootage</a>
										</div>
									</div>
								</div>
							</td>
							<td class="game-list-entry-right">
								<img class="game-list-picture" src="@routes.Assets.at("images/windwaker.png")" />
							</td>
						</tr>
					</div>
				</div>
				<div class="span4">
				</div>
			</div>
			<div class="row-fluid">
				<div class="span8">
					<table class="game-list-entry">
						<tr>
							<td>
								<div class="game-list-desc">
									<div class="game-list-title">
										<a class="game-list-title-link" href="#">The Legend of Zelda: Wind Waker</a>
									</div>
									<div class="game-list-category">
										Any% JP W/ Tuner
										<div class="game-list-author">
											'Main Route' by <a href="#">Pwootage</a>
										</div>
									</div>
								</div>
							</td>
							<td class="game-list-entry-right">
								<img class="game-list-picture" src="@routes.Assets.at("images/windwaker.png")" />
							</td>
						</tr>
					</div>
				</div>
				<div class="span4">
				</div>
			</div>
		 </div>
	</div>
}
